$primary-color: #eb5d1e;
$secondary-color: #fef8f5;
$brown: #4e4039;
$gray: #5a6570;
$light-brown: #7a6960;
$title-color: #c2b7b1;

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    color: $brown;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $brown;
}

body {
    position: relative;
}

input,
button,
select,
textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    outline: none;
    resize: none;
}

.header {
    width: 100%;
    height: 7rem;
    padding: 0rem 7.5rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    background-color: white;
    box-shadow: 0px 5px 10px 0px #eee;
    z-index: 999;

    &__brand {
        font-size: 3rem;
    }

    &-nav {
        &__item {
            font-size: 1.5rem;
            display: inline-block;
            padding: 1rem 0 1rem 3rem;
            &:hover {
                color: $primary-color;
            }
        }
        &__button {
            padding: 1.5rem 2.5rem;
            margin-left: 3rem;
            font-size: 1.5rem;
            color: white;
            border-radius: 5rem;
            background-color: $primary-color;
            &:hover {
                background-color: #973a13;
            }
        }
    }

}

.hero {
    width: 100%;
    height: 100vh;
    padding: 6rem 7.5rem;
    margin-top: 6rem;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;


    &__content,
    &__image {
        width: calc(50% - 3rem);
    }

    &__image img {
        width: 100%;
        object-fit: cover;
        animation: move 2s infinite alternate;
    }

    &__title  {
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2;
    }

    &__desc {
        margin: 3rem 0;
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1.4;
        color: $gray;
    }

    &__button {
        display: inline-block;
        padding: 2rem 2.5rem;
        font-size: 1.5rem;
        color: white;
        border-radius: 7rem;
        background-color: $primary-color;
        &:hover {
            background-color: #973a13;
        }
    }
}

@keyframes move {
    from {
        transform: translateY(0.75rem);
    }
    to {
        transform: translateY(-0.75rem);
    }
}

.about {
    width: 100%;
    padding: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.4;

    &__image {
        width: calc(40%);
    }

    &__content {
        width: calc(50% - 1rem);
    }

    &__image img {
        width: 100%;
        object-fit: cover;
    }

    &__title {
        margin-bottom: 1rem;
        font-size: 3.4rem;
        font-weight: 600;
    }

    
    &__desc {
        font-size: 1.5rem;
        color: $gray;
    }

    &__items {
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: calc(50% - 1.5rem);
    }
    
    &-item {
        &__title {
            margin-bottom: 1rem;    
            font-size: 2rem;
            font-weight: 600;
            color:$light-brown;
        }
    }

    &__icon {
        margin-bottom: 1rem;
        font-size: 3.8rem;
        color: rgba($primary-color, 0.6);   
    }

}

.services {
    padding: 5rem 7.2rem;
    background-color: $secondary-color;

    &__header {
        text-align: center;
    }

    &__title {
        font-size: 2.4rem;
        font-weight: 600;
        color: $title-color;
        margin-bottom: 1rem;
    }

    &__desc {
        padding-bottom: 2rem;
        margin-bottom: 4.3rem;;
        font-size: 3.2rem;
        font-weight: 700;
        position: relative;
        &:before {
            content: "";
            width: 7rem;
            height: 2px;
            background-color: $primary-color;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__tags {
        display: flex;
        margin-left: -2.5rem;
    }

    &__tag {
        width: calc(25% - 2.5rem);
        margin: 0 0 4rem 2.5rem;
        padding: 3.5rem 3rem;
        background-color: white;
        border-radius: 2rem;
        text-align: center;
        box-shadow: 0px 5px 15px 5px #eee;
        border-bottom: 3px solid white;
        transition: all 0.2s linear;
        &:hover {
            border-bottom: 3px solid $primary-color;
            transform: translateY(-3px);
        }
    }

    &__icon {
        margin-bottom: 2rem;
        font-size: 3.4rem;
        color: $primary-color;
    }

    &__tag-name {
        margin-bottom: 2rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: #111;
    }

    &__tag-content {
        font-size: 1.5rem;
        line-height: 1.9;
    }
}

.portfolio {
    margin: 5rem 7.2rem;

    &__header {
        text-align: center;
    }

    &__title {
        font-size: 2.4rem;
        font-weight: 600;
        color: $title-color;
        margin-bottom: 1rem;
    }

    &__desc {
        padding-bottom: 2rem;
        margin-bottom: 4.3rem;;
        font-size: 3.2rem;
        font-weight: 700;
        position: relative;
        &:before {
            content: "";
            width: 7rem;
            height: 2px;
            background-color: $primary-color;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__filter {
        display: flex;
        justify-content: center;
        margin-left: -3.3rem;
        margin-bottom: 5rem;
    }

    &-filter {
        &__item a {
            display: inline-block;
            margin-left: 3.3rem;
            font-size: 1.6rem;
            font-weight: 600;
            color: #111;
            &:focus {
                color: $primary-color;
            }
            &:hover {
                color: $primary-color;
            }
        }
    }

    &__items {
        height: 891px;
        display: flex;
        flex-wrap: wrap;
        margin-left: -2.5rem;
    }

    &__item {
        width: calc(100%/3 - 2.5rem);
        height: calc(100%/3 - 3rem);
        margin: 0 0 3rem 2.5rem;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        &:hover {
            .portfolio__wrap {
                visibility: visible;
                opacity: 1;
                width: 100%;
            }
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__wrap {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        background-color: rgba($light-brown, 0.6);
        visibility: hidden;
        opacity: 0;
        transition: all 0.4s linear;
    }

    &__icons {
        width: 100%;
        height: 3.2rem;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 3.2rem;
        height: 3.2rem;
        font-size: 1.5rem;
        color: $primary-color;
        background-color: white;
        border-radius: 50%;
        &:first-child {
            margin-right: 1.2rem;
        }
        &:hover {
            color: white;
            background-color: $primary-color;
        }
    }

    &__info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        color: white
    }

    &-item {
        &__name {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        &__category {
            font-size: 1.4rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
    }
}

.questions {
    background-color: $secondary-color;
    padding: 5rem 7.2rem;

    &__header {
        text-align: center;
    }

    &__title {
        font-size: 2.4rem;
        font-weight: 600;
        color: $title-color;
        margin-bottom: 1rem;
    }

    &__desc {
        padding-bottom: 2rem;
        margin-bottom: 4.3rem;;
        font-size: 3.2rem;
        font-weight: 700;
        position: relative;
        &:before {
            content: "";
            width: 7rem;
            height: 2px;
            background-color: $primary-color;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__item {
        padding: 2rem 0;
        border-bottom: 1px solid #eae7e5;
        color: #343a40;
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.6rem;
        &--up {
            display: none;
        }
    }

    &__question {
        display: inline-block;
        padding-left: 2.5rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: #343a40;
        position: relative;
        cursor: pointer;
        .active, &:hover {
            color: $primary-color;
        }

    }

    &__answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        padding-left: 2.5rem;
        margin-top: 1.4rem;
        font-size: 1.6rem;
    }
    
}

.team {
    margin: 5rem 7.2rem;

    &__header {
        text-align: center;
    }

    &__title {
        font-size: 2.4rem;
        font-weight: 600;
        color: $title-color;
        margin-bottom: 1rem;
    }

    &__desc {
        padding-bottom: 2rem;
        margin-bottom: 4.3rem;;
        font-size: 3.2rem;
        font-weight: 700;
        position: relative;
        &:before {
            content: "";
            width: 7rem;
            height: 2px;
            background-color: $primary-color;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__members {
        height: 26rem;
        display: flex;
        margin-left: -2.5rem;
    }

    &__member {
        width: calc(25% - 2.5rem);
        margin-left: 2.5rem;
        position: relative;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        &:hover {
            .team-member__socials {
                width: 5rem;
                opacity: 1;
                visibility: visible;
            }
            .team-member__icon {
                width: calc(100% - 3rem);
                opacity: 1;
                visibility: visible;
            }
            .team-member__info {
                height: 100%;
                opacity: 1;
                visibility: visible;
            }
            .team-member__name,
            .team-member__job {
                transform: translateY(0);
            }
        }
    }

    &-member {
        &__socials {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 2rem;
            color: white;
            background-color: rgba($brown, 0.8);
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s linear;
        }

        &__info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            padding-bottom: 3rem;
            display: flex;
            padding-left: 5rem;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;
            text-transform: capitalize;
            color: white;
            background: linear-gradient(0deg, rgba(78,64,57,1) 0%, rgba(78,64,57,0) 100%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s linear;
        }

        &__icon {
            margin: 2rem 1.5rem 0 1.5rem;
            width: 0;
            opacity: 0;
            visibility: hidden;
            cursor: pointer;
            z-index: 999;
            transition: all 0.2s linear;
            &:hover {
                color: $primary-color;
            }
        }

        &__name {
            margin-bottom: 0.5rem;
            font-size: 1.8rem;
            z-index: 999;
            transform: translateY(3rem);
            transition: all 0.2s linear;
        }

        &__job {
            font-size: 1.3rem;
            font-style: italic;
            z-index: 999;
            transform: translateY(3rem);
            transition: all 0.2s linear;
        }
    }
}

.clients {
    background-color: $secondary-color;
    padding: 5rem 7.2rem;
    position: relative;

    &__header {
        text-align: center;
    }

    &__title {
        font-size: 2.4rem;
        font-weight: 600;
        color: $title-color;
        margin-bottom: 1rem;
    }

    &__desc {
        padding-bottom: 2rem;
        margin-bottom: 4.3rem;;
        font-size: 3.2rem;
        font-weight: 700;
        position: relative;
        &:before {
            content: "";
            width: 7rem;
            height: 2px;
            background-color: $primary-color;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__slider {
        max-height: 5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: -12rem;
        margin-bottom: 2.5rem;
        overflow: hidden;
    }

    &__client {
        width: calc((100%/6) - 12rem);
        margin: 0 0 10rem 12rem;
        opacity: 0.4;
        &:hover {
            opacity: 1;
        }
        img {
            width: 100%;
            max-height: 100%;
        }
    }

    &__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__input {
        display: none;
        &:checked + .clients__label {
            background-color: $primary-color;
        }
    }

    &__button {
        display: inline-block;
        margin: 0 0.5rem;
    }
    
    &__label {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        border: 1px solid $primary-color;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
    }
}

.contact {
    padding: 5rem 7.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__header {
        text-align: center;
        width: 100%;
    }

    &__title {
        font-size: 2.4rem;
        font-weight: 600;
        color: $title-color;
        margin-bottom: 1rem;
    }

    &__desc {
        padding-bottom: 2rem;
        margin-bottom: 4.3rem;;
        font-size: 3.2rem;
        font-weight: 700;
        position: relative;
        &:before {
            content: "";
            width: 7rem;
            height: 2px;
            background-color: $primary-color;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__address,
    &__form {
        border-top: 3px solid $primary-color;
        padding: 3rem;
        box-shadow: 0 0 15px 5px #eee;
    }

    &__address {
        width: calc(40% - 1rem);
    }

    &__form {
        width: calc(60% - 1rem);
    }

    &-address {
        &__info {
            position: relative;
            padding-left: 7.5rem;
            margin-bottom: 3rem;
        }

        &__icon {
            width: 4.5rem;
            height: 4.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: $primary-color;
            border-radius: 50%;
            background-color: rgba($primary-color, 0.1);
            position: absolute;
            top: 0;
            left: 0;
            &:hover {
                color: white;
                border-radius: 50%;
                background-color: $primary-color;
            }
        }

        &__title {
            margin-bottom: 1rem;
            font-size: 2.2rem;
            color: $light-brown;
        }

        &__content {
            font-size: 1.4rem;
            color: $light-brown;
        }
        &__map {
            width: 100%;
            height: 30rem;
            background-color: $primary-color;
        }
    }

    &__form {
        form {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        label {
            display: block;
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }

        input,
        textarea {
            width: 100%;
            padding: 1.2rem;
            font-size: 1.6rem;
            font-weight: 400;
            border: 2px solid #eee;
            border-radius: 0.5rem;
            &:focus {
                border-color: $primary-color;
            }
        }

        textarea {
            height: 20rem;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 1.5rem 2.5rem;
            font-size: 1.6rem;
            color: white;
            background-color: $primary-color;
            border: none;
            border-radius: 5rem;
            &:hover {
                background-color: #973a13;
            }
        }
    }

    &__name,
    &__email {
        width: calc((100%/2) - 1.3rem);
        margin-bottom: 3rem;
    }

    &__subject,
    &__message {
        width: 100%;
        margin-bottom: 3rem;
    }
}

.join {
    background-color: $secondary-color;
    padding: 5rem 7.2rem;
    position: relative;

    &__header {
        text-align: center;
    }

    &__title {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }

    &__desc {
        margin-bottom: 4.3rem;
        font-size: 1.5rem;
    }

    &__subcribe {
        width: 55rem;
        margin: 0 auto;
    }

    &__form {
        width: 100%;
        position: relative;
        
        input {
            width: 100%;
            padding: 1.2rem 1.5rem;
            padding-right: calc(20% + 1.2rem);
            font-size: 1.6rem;
            font-weight: 400;
            border: none;
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            box-shadow: 0 0 15px 5px #eee;
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
            width: calc(100% - 1.5rem);
            height: 100%;
            font-size: 1.6rem;
            color: white;
            background-color: $primary-color;
            border: none;
            border-radius: 0.5rem;
            box-shadow: 0 0 15px 5px #eee;
            cursor: pointer;
            &:hover {
                background-color: #973a13;
            }
        }
    }

    &__button {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(20% + 1.5rem);
        height: 100%;
        overflow: hidden;
    }
}

.footer {
    padding: 5rem 7.2rem;
    display: flex;
    justify-content: space-between;

    &__info,
    &__links,
    &__services,
    &__socials {
        width: calc(25% - 3rem);
    }

    &__brand {
        font-size: 2.6rem;
        font-weight: 300;
        margin-bottom: 2rem;
    }

    &__contact {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.6;
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &__list {
        li {
            margin: 2rem 0;
            display: flex;
            align-items: center;
            i {
                color: $primary-color;
                margin-right: 1rem;
            }
        }
    }

    &__item {
        font-size: 1.4rem;
        &:hover {
            color: $primary-color;
        }
    }

    &__desc {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }

    &__social-networks {
        li {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            margin-right: 0.5rem;
            font-size: 1.4rem;
            color: white;
            background-color: $primary-color;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
                opacity: 0.6;
            }
        }
    }
}