html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  color: #4e4039;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #4e4039;
}

body {
  position: relative;
}

input,
button,
select,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  outline: none;
  resize: none;
}

.header {
  width: 100%;
  height: 7rem;
  padding: 0rem 7.5rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  background-color: white;
  box-shadow: 0px 5px 10px 0px #eee;
  z-index: 999;
}
.header__brand {
  font-size: 3rem;
}
.header-nav__item {
  font-size: 1.5rem;
  display: inline-block;
  padding: 1rem 0 1rem 3rem;
}
.header-nav__item:hover {
  color: #eb5d1e;
}
.header-nav__button {
  padding: 1.5rem 2.5rem;
  margin-left: 3rem;
  font-size: 1.5rem;
  color: white;
  border-radius: 5rem;
  background-color: #eb5d1e;
}
.header-nav__button:hover {
  background-color: #973a13;
}

.hero {
  width: 100%;
  height: 100vh;
  padding: 6rem 7.5rem;
  margin-top: 6rem;
  background-color: #fef8f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__content, .hero__image {
  width: calc(50% - 3rem);
}
.hero__image img {
  width: 100%;
  object-fit: cover;
  animation: move 2s infinite alternate;
}
.hero__title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2;
}
.hero__desc {
  margin: 3rem 0;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.4;
  color: #5a6570;
}
.hero__button {
  display: inline-block;
  padding: 2rem 2.5rem;
  font-size: 1.5rem;
  color: white;
  border-radius: 7rem;
  background-color: #eb5d1e;
}
.hero__button:hover {
  background-color: #973a13;
}

@keyframes move {
  from {
    transform: translateY(0.75rem);
  }
  to {
    transform: translateY(-0.75rem);
  }
}
.about {
  width: 100%;
  padding: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.4;
}
.about__image {
  width: calc(40%);
}
.about__content {
  width: calc(50% - 1rem);
}
.about__image img {
  width: 100%;
  object-fit: cover;
}
.about__title {
  margin-bottom: 1rem;
  font-size: 3.4rem;
  font-weight: 600;
}
.about__desc {
  font-size: 1.5rem;
  color: #5a6570;
}
.about__items {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.about__item {
  width: calc(50% - 1.5rem);
}
.about-item__title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: #7a6960;
}
.about__icon {
  margin-bottom: 1rem;
  font-size: 3.8rem;
  color: rgba(235, 93, 30, 0.6);
}

.services {
  padding: 5rem 7.2rem;
  background-color: #fef8f5;
}
.services__header {
  text-align: center;
}
.services__title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #c2b7b1;
  margin-bottom: 1rem;
}
.services__desc {
  padding-bottom: 2rem;
  margin-bottom: 4.3rem;
  font-size: 3.2rem;
  font-weight: 700;
  position: relative;
}
.services__desc:before {
  content: "";
  width: 7rem;
  height: 2px;
  background-color: #eb5d1e;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.services__tags {
  display: flex;
  margin-left: -2.5rem;
}
.services__tag {
  width: calc(25% - 2.5rem);
  margin: 0 0 4rem 2.5rem;
  padding: 3.5rem 3rem;
  background-color: white;
  border-radius: 2rem;
  text-align: center;
  box-shadow: 0px 5px 15px 5px #eee;
  border-bottom: 3px solid white;
  transition: all 0.2s linear;
}
.services__tag:hover {
  border-bottom: 3px solid #eb5d1e;
  transform: translateY(-3px);
}
.services__icon {
  margin-bottom: 2rem;
  font-size: 3.4rem;
  color: #eb5d1e;
}
.services__tag-name {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #111;
}
.services__tag-content {
  font-size: 1.5rem;
  line-height: 1.9;
}

.portfolio {
  margin: 5rem 7.2rem;
}
.portfolio__header {
  text-align: center;
}
.portfolio__title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #c2b7b1;
  margin-bottom: 1rem;
}
.portfolio__desc {
  padding-bottom: 2rem;
  margin-bottom: 4.3rem;
  font-size: 3.2rem;
  font-weight: 700;
  position: relative;
}
.portfolio__desc:before {
  content: "";
  width: 7rem;
  height: 2px;
  background-color: #eb5d1e;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio__filter {
  display: flex;
  justify-content: center;
  margin-left: -3.3rem;
  margin-bottom: 5rem;
}
.portfolio-filter__item a {
  display: inline-block;
  margin-left: 3.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #111;
}
.portfolio-filter__item a:focus {
  color: #eb5d1e;
}
.portfolio-filter__item a:hover {
  color: #eb5d1e;
}
.portfolio__items {
  height: 891px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -2.5rem;
}
.portfolio__item {
  width: calc(100%/3 - 2.5rem);
  height: calc(100%/3 - 3rem);
  margin: 0 0 3rem 2.5rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.portfolio__item:hover .portfolio__wrap {
  visibility: visible;
  opacity: 1;
  width: 100%;
}
.portfolio__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: rgba(122, 105, 96, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s linear;
}
.portfolio__icons {
  width: 100%;
  height: 3.2rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  font-size: 1.5rem;
  color: #eb5d1e;
  background-color: white;
  border-radius: 50%;
}
.portfolio__icon:first-child {
  margin-right: 1.2rem;
}
.portfolio__icon:hover {
  color: white;
  background-color: #eb5d1e;
}
.portfolio__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
}
.portfolio-item__name {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.portfolio-item__category {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.questions {
  background-color: #fef8f5;
  padding: 5rem 7.2rem;
}
.questions__header {
  text-align: center;
}
.questions__title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #c2b7b1;
  margin-bottom: 1rem;
}
.questions__desc {
  padding-bottom: 2rem;
  margin-bottom: 4.3rem;
  font-size: 3.2rem;
  font-weight: 700;
  position: relative;
}
.questions__desc:before {
  content: "";
  width: 7rem;
  height: 2px;
  background-color: #eb5d1e;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.questions__item {
  padding: 2rem 0;
  border-bottom: 1px solid #eae7e5;
  color: #343a40;
}
.questions__icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.6rem;
}
.questions__icon--up {
  display: none;
}
.questions__question {
  display: inline-block;
  padding-left: 2.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #343a40;
  position: relative;
  cursor: pointer;
}
.questions__question .active, .questions__question:hover {
  color: #eb5d1e;
}
.questions__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding-left: 2.5rem;
  margin-top: 1.4rem;
  font-size: 1.6rem;
}

.team {
  margin: 5rem 7.2rem;
}
.team__header {
  text-align: center;
}
.team__title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #c2b7b1;
  margin-bottom: 1rem;
}
.team__desc {
  padding-bottom: 2rem;
  margin-bottom: 4.3rem;
  font-size: 3.2rem;
  font-weight: 700;
  position: relative;
}
.team__desc:before {
  content: "";
  width: 7rem;
  height: 2px;
  background-color: #eb5d1e;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.team__members {
  height: 26rem;
  display: flex;
  margin-left: -2.5rem;
}
.team__member {
  width: calc(25% - 2.5rem);
  margin-left: 2.5rem;
  position: relative;
}
.team__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.team__wrap:hover .team-member__socials {
  width: 5rem;
  opacity: 1;
  visibility: visible;
}
.team__wrap:hover .team-member__icon {
  width: calc(100% - 3rem);
  opacity: 1;
  visibility: visible;
}
.team__wrap:hover .team-member__info {
  height: 100%;
  opacity: 1;
  visibility: visible;
}
.team__wrap:hover .team-member__name,
.team__wrap:hover .team-member__job {
  transform: translateY(0);
}
.team-member__socials {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: rgba(78, 64, 57, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.team-member__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-bottom: 3rem;
  display: flex;
  padding-left: 5rem;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  text-transform: capitalize;
  color: white;
  background: linear-gradient(0deg, #4e4039 0%, rgba(78, 64, 57, 0) 100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.team-member__icon {
  margin: 2rem 1.5rem 0 1.5rem;
  width: 0;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 999;
  transition: all 0.2s linear;
}
.team-member__icon:hover {
  color: #eb5d1e;
}
.team-member__name {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  z-index: 999;
  transform: translateY(3rem);
  transition: all 0.2s linear;
}
.team-member__job {
  font-size: 1.3rem;
  font-style: italic;
  z-index: 999;
  transform: translateY(3rem);
  transition: all 0.2s linear;
}

.clients {
  background-color: #fef8f5;
  padding: 5rem 7.2rem;
  position: relative;
}
.clients__header {
  text-align: center;
}
.clients__title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #c2b7b1;
  margin-bottom: 1rem;
}
.clients__desc {
  padding-bottom: 2rem;
  margin-bottom: 4.3rem;
  font-size: 3.2rem;
  font-weight: 700;
  position: relative;
}
.clients__desc:before {
  content: "";
  width: 7rem;
  height: 2px;
  background-color: #eb5d1e;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.clients__slider {
  max-height: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -12rem;
  margin-bottom: 2.5rem;
  overflow: hidden;
}
.clients__client {
  width: calc((100%/6) - 12rem);
  margin: 0 0 10rem 12rem;
  opacity: 0.4;
}
.clients__client:hover {
  opacity: 1;
}
.clients__client img {
  width: 100%;
  max-height: 100%;
}
.clients__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients__input {
  display: none;
}
.clients__input:checked + .clients__label {
  background-color: #eb5d1e;
}
.clients__button {
  display: inline-block;
  margin: 0 0.5rem;
}
.clients__label {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #eb5d1e;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.contact {
  padding: 5rem 7.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact__header {
  text-align: center;
  width: 100%;
}
.contact__title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #c2b7b1;
  margin-bottom: 1rem;
}
.contact__desc {
  padding-bottom: 2rem;
  margin-bottom: 4.3rem;
  font-size: 3.2rem;
  font-weight: 700;
  position: relative;
}
.contact__desc:before {
  content: "";
  width: 7rem;
  height: 2px;
  background-color: #eb5d1e;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.contact__address, .contact__form {
  border-top: 3px solid #eb5d1e;
  padding: 3rem;
  box-shadow: 0 0 15px 5px #eee;
}
.contact__address {
  width: calc(40% - 1rem);
}
.contact__form {
  width: calc(60% - 1rem);
}
.contact-address__info {
  position: relative;
  padding-left: 7.5rem;
  margin-bottom: 3rem;
}
.contact-address__icon {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #eb5d1e;
  border-radius: 50%;
  background-color: rgba(235, 93, 30, 0.1);
  position: absolute;
  top: 0;
  left: 0;
}
.contact-address__icon:hover {
  color: white;
  border-radius: 50%;
  background-color: #eb5d1e;
}
.contact-address__title {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: #7a6960;
}
.contact-address__content {
  font-size: 1.4rem;
  color: #7a6960;
}
.contact-address__map {
  width: 100%;
  height: 30rem;
  background-color: #eb5d1e;
}
.contact__form form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact__form label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.contact__form input,
.contact__form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  border: 2px solid #eee;
  border-radius: 0.5rem;
}
.contact__form input:focus,
.contact__form textarea:focus {
  border-color: #eb5d1e;
}
.contact__form textarea {
  height: 20rem;
}
.contact__form button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem 2.5rem;
  font-size: 1.6rem;
  color: white;
  background-color: #eb5d1e;
  border: none;
  border-radius: 5rem;
}
.contact__form button:hover {
  background-color: #973a13;
}
.contact__name, .contact__email {
  width: calc((100%/2) - 1.3rem);
  margin-bottom: 3rem;
}
.contact__subject, .contact__message {
  width: 100%;
  margin-bottom: 3rem;
}

.join {
  background-color: #fef8f5;
  padding: 5rem 7.2rem;
  position: relative;
}
.join__header {
  text-align: center;
}
.join__title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.join__desc {
  margin-bottom: 4.3rem;
  font-size: 1.5rem;
}
.join__subcribe {
  width: 55rem;
  margin: 0 auto;
}
.join__form {
  width: 100%;
  position: relative;
}
.join__form input {
  width: 100%;
  padding: 1.2rem 1.5rem;
  padding-right: calc(20% + 1.2rem);
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  box-shadow: 0 0 15px 5px #eee;
}
.join__form button {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 1.5rem);
  height: 100%;
  font-size: 1.6rem;
  color: white;
  background-color: #eb5d1e;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px 5px #eee;
  cursor: pointer;
}
.join__form button:hover {
  background-color: #973a13;
}
.join__button {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(20% + 1.5rem);
  height: 100%;
  overflow: hidden;
}

.footer {
  padding: 5rem 7.2rem;
  display: flex;
  justify-content: space-between;
}
.footer__info, .footer__links, .footer__services, .footer__socials {
  width: calc(25% - 3rem);
}
.footer__brand {
  font-size: 2.6rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.footer__contact {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
}
.footer__title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.footer__list li {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}
.footer__list li i {
  color: #eb5d1e;
  margin-right: 1rem;
}
.footer__item {
  font-size: 1.4rem;
}
.footer__item:hover {
  color: #eb5d1e;
}
.footer__desc {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.footer__social-networks li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
  font-size: 1.4rem;
  color: white;
  background-color: #eb5d1e;
  border-radius: 50%;
  cursor: pointer;
}
.footer__social-networks li:hover {
  opacity: 0.6;
}

/*# sourceMappingURL=style.css.map */
